absl-py==0.9.0
astor==0.8.1
blessings==1.7
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
dotmap==1.3.17
google-pasta==0.2.0
gpflow==1.0.0
gpustat==0.6.0
graphviz==0.8.4
gym==0.9.4
h5py==2.10.0
idna==2.10
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
Markdown==3.2.2
mujoco-py==0.5.7
mxnet==1.7.0.post1
numpy==1.16.5
pandas==1.1.2
protobuf==3.13.0
psutil==5.7.2
pyglet==1.5.7
PyOpenGL==3.1.5
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
scipy==1.3.3
six==1.15.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
torch==1.4.0
torchvision==0.5.0
tqdm==4.49.0
urllib3==1.25.10
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.1.0
matplotlib==3.3.2
# Use PyPI wheel for gym (older version pinned)
Pillow==7.2.0
# Note: Some packages (mujoco-py, GPU drivers, CUDA) require manual setup on Windows.